@media (max-width: 850px) {
  body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  .home {
    justify-content: center;
    align-items: center;
  }
  .portfolio{
    justify-content: center;
    align-items: center;
  }
  .navlist li a {
    display: none;
  }
  .ri-menu-3-line {
    display: block;
    font-size: 4vw;
  }
  .img-hero img {
    display: none;
  }
  .rotate-text {
    display: none;
  }
  .hero-info h1 {
  }
  .about {
    display: flex;
    flex-direction: column;
  }
  .rotate-text span {
    width: 100vw;
    height: 100vh;
  }
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .services {
    justify-content: center;
    align-items: center;
  }
  .servicesItem {
    width: 233px;
    height: 222px;
  }
  .portfolio-gallery {
    width: 100vw;
    height: 333px;
  }
  .proposal {
    width: 202px;
    height: 100vh;
  }
  .portfolio-content {
    justify-content: center;
    align-items: c;
  }
  .portfolio-box {
    width: 400px;
  }
  
}
