/* navbar  */
.nav-bar{
    background-color: #DC3545;
}



/* Hero section  */
.hero-img img{
    margin-top: 8rem;
}
.hero-text{
    margin-top: 10rem;
}
.hero-text span{
    color: greenyellow;
    font-family: italic;
    margin: 0rem 0rem;
}
.hero-text h1{ 
    font-weight: 600;
    color: blue;
    margin-top: 1rem;
}
.hero-text p{
    width: 21rem;
    margin-top: 2rem;
}
.button-section button{
    border: 1px solid rgb(53, 255, 3);
    border-radius: 3rem;
    width: 7rem;
    height: 3rem;
    margin-top: 1rem;
}
.button-section button:hover{
    background-color: hsl(36, 100%, 50%);
}
.button-section span{
  font-size: 1.4rem;
  margin: 1rem 1rem;
}
.button-section i{
    padding: 3px 3px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 50%;
    
  }
  .button-section i:hover{
   color: green;
   background-color: greenyellow;
    
  }